<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Registration</title>
</head>
<body>
	<form action='/register' method='post'>	
		<label for="name">Name: </label>
		<input type="text" name="name"/>

		<label for="lastname">Lastname: </label>
		<input type="text" name="lastname"/>

		<label for="username">Username: </label>
		<input type="text" name="username" placeholder="Your username..."/>

		<label for="password">Password: </label>
		<input type="password" name="password"/>

		<label for="tel">Telephone: </label>
		<input type="tel" name="tel"/>

		<button type="submit">Sign Up</button>
	</form>
</body>
</html>